

body {
    background-image: url(img/weeding.jpg);
    background-size: cover;      /* biar full layar & rapi */
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CARD UNDANGAN*/
.container {
    background:rgba(255, 253, 255, 0.863);
    max-width: 720px;
    width: 90%;
    padding: 50px 45px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    text-align: center;
}

/*BISMILLAH*/
.bismillah h2 {
    font-size: 28px;
    color: #2f5d50;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/*TEKS PEMBUKA*/
.oppening-text {
    font-size: 16px;
    line-height: 1.9;
    color: #555;
    margin-bottom: 30px;
}

/*NAMA MEMPELAI*/
.container h2 {
    font-size: 30px;
    color: #6b8f71;
    font-weight: normal;
    margin: 25px 0;
    line-height: 1.4;
}

.container {
    position: relative;
}

.foto-pengantin {
    width: 50%;          /* UBAH ANGKA INI kalau mau lebih kecil/besar */
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

/* GARIS PEMISAH */
.divider {
    width: 120px;
    height: 3px;
    background: linear-gradient(to right, #c9a86a, #e7d7b7);
    margin: 30px auto;
    border-radius: 10px;
}

/*JUDUL ACARA*/
.event-title {
    font-size: 16px;
    color: #666;
    margin-bottom: 18px;
}

/* DETAIL AKAD*/
.container p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.container p strong,
.container p:first-child {
    font-weight: bold;
}

/* AKAD NIKAH */
.container p:nth-of-type(4) {
    font-size: 18px;
    font-weight: bold;
    color: #4b7c6b;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/*PENUTUP*/
.container p:last-child {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

/*RESPONSIVE HP*/
@media (max-width: 480px) {
    .container {
        padding: 35px 25px;
    }

    .bismillah h2 {
        font-size: 22px;
    }

    .container h2 {
        font-size: 24px;
    }
}

audio {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
}